/* @theme eng */

@import 'default';

:root {
    width: 960px;
    height: 720px;
    font-size: 28px;
    font-family: 'Yu Mincho';
    padding: 1.0rem;
}

:root {
    width: 960px;
    height: 720px;
    font-size: 28px;
    font-family: 'Yu Mincho';
    padding: 1.0rem;
}

:root::after {
    font-size: 16pt;
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

section {
    background-image:
        url(https://dl.boxcloud.com/d/1/b1!wKmeATDB0-_JkV-p92jzWIbMAv0znkPk9LyEnSNeMWmM_hhnAdK9Yy_8YQ0rh7goG9U2TZ_zHTzZqK3VE9yIg96bA9D4luhOSJiSttMvv4q3xxFgyDUFNOg3KSZF2wFgmdDhSzl_QryV1Tqgj4nokSg6_Bye9I1QQ4Qy5AxyuNHAEnjI3boi_WDbOXwhcnQZOwuyZYzjVDcClNCbpoyh8NwqN4biy3HchvBWgmPCDXWquz3ACjsBX6RdBMEPSBmQEBqUqloCoMqnKJk-IFyUEfrbtRLE1zLPBfhskO7wSuDiA0oAlb7FLZc18rduoUDk1OvghYopD-scEDJqsU34Ndbb_dSa45kYeFkw26sxHnni1_FzKEqZbnqttJsHhuuEDZDgxWwqMMI2orHxSJzTl50CaPg7fi_SnH10yfRYEmEvL4ODvsGbb-Ab5EO-f--9qNFiZ6ujcM3NVUvxlNDuiGYOqSj4Orz3IrzgbtxKQn5hTZfUOaM2Rh_Pi7QS9a5PUwdbrctCtDUtI7tAdRZ5J09_81-VZ70pRtVtYUuZVTbl8GZcawPEnAHNouAySvSKZ3r_mhVRN2P6BHyzxTJXSjYxC9Lhr239iQhDYwom9fsbgA4QzDDzmcyCFJv0i1VWOzE_MxBwFeRdui2hxqTJ69LaqhqSmeez7hUB7HnpuRhPmvxl0Z12U56_M_HtQGdZB5Om82a3t1x4heRFHA_unZiVP4bP7t-xZqyf9T1VTEtoQBaMEGujjJ7k_x7GuwKOi4SxpRtQGfile4_BeDv60F9CgYZ0kDaI-O1OQ415gZUa9HlcUyTr5TtmZPgiaX3-SL4veWf-pUSAJHcj7f-jFZccTUCi3XAT980nflvNImBRIUcDZ8dGL14BQfctaTFw8UqpJOGvuyaKQS7rzNzr8rYE6KJyWXiBaxxY50sHfmNDy7IlocRH45hcvdnVYLWyq2u06MVQ_kIOqrAEM9UpDKc6btEahrnyLBE46CB7KQdEUPviv2OEx14p4j1giADxZ7BZmDQ_fJY0gd8RS33vvIzZIOU3J_T4kS7wIeQL3RMePQF6_0Z08sx4oudzeH5tRz6wNrrMRCdssPO7G4K0fDmKSPQZo4e9Hl4Xx-8PTDRjS7d5ItpBssIbZgd7zPwM8aHsPkthRu0xayfrkpLqrK7LauAgljUJNiMeFQdonXQSOrf6QkSjHmBFryRCd4VrHgh_MPb-vd_-75kf3XvtZVFjPFk2M37pz-mAMo9A6yLn2KkVRF2DfXko9o1xnzw./download),
        url(https://dl.boxcloud.com/d/1/b1!yfQaFKnkcTi2JnMT04M8VS9Petdj9TFam3yJhIvUg8D-lZr21mRV9KQcz15rQHjlTN-QN56D3p53KcPsjVNrDtrcpirZ6PiLEk3Jg5qmPqniRNnIhveHFp3RDKnVwnjySZUOr0_-ZWvnKGfLmEnJfGUAcZzigmAw7oSqw9-fng8X8biKWUKAEpmd85qd2xEMEtgr97uhwZETWcorhPgcQsr5HrVxLVDzk3xmgTprzU2T23KllxRIBFcLXwU03AnPoFK_uyN9A-LJfnE3QSXBhuCmtTYq1ihqPWFBIYudqc8LEteiAKusroiEpCgxjIkgSC8_RmC8ZhnuNHMAmIhI1A2fWsW4aJ_DBL-oXL-vsPRta6UzVPacacJx8bcFd2fT9EdaSlF6aa728UxZcwnp_JycJtAFYIBSs-PK4Egu5dG7Cb01aT9EzW9htuRNjcoVtSWZQrktm7-g3sgAl_5-CnbXSSpssgpCLRi4i2Dni8il2v_j16AwTL7RdXhEfL4VSYC39JYwBhzVvGB-hVt9eX214zt3V4M6ry9yZNnq4Jn_XUC6GUfMCc9C8G_0IRx1grUBvczm9uCyrzfAGYwYElOp-M9so0PDFvlx5GsKcdgHiD6jRSszyxEG3nl5bFwL1BVSfFLkPDadHIMmYcZpfukmLTGrUoC2FW9m3i-KHdvxOd1julpZOoZC01jjVDDu1A0cF9GrV6VSpTMpEWSJ4WYKmAoLJua645i2u-t1qrYSgg1u_tF9fQDVfitu9QTYr2LLLjC7Cg0r8JeljGIhUz3qUWDxr2qoSxF7M0OT1lD5MJyO8ZmwI7iImahCE48Mkce7H10vy3tFXsT3JBKWnBfVPpNZgdnfHpJOpxu82VFUMS8YPCND7-b31IBs7gE4ULgPkmsikhMkb18dTfkXQS-uCE0d55A4F_CNOnxiF8zGtFkm8I_c-unIlOoADr3aQklnfXlnk83Ct7uqVkkw49Iw0i13a5I7BpoQopMTzL8bTsDft-08eGCi8jYxk5QsazHM3tVaGP-2CJuAsgyF43aJcSrXS39GNTDi-aEnJ9y06fwuMxhIh11BUl4qOZo0F3gqlguc1M-j6qV1Qd8x8v0lxHObSbCvPxHV7KMUsmXKY_uHHfbSNZiDYH1zLX-Z7P-xJiArxg1uZmiRHonpXLgcOyHX8I2c9i8erSpfMT3aqfP2WlXRu_hqx1OQ3q1_jl1jjChLvG7JG38MuzFQCAOltS_8Opi1q7uj1GMDFKQGoKPVIEYyE2LDSzk-x538/download),
        url(https://dl.boxcloud.com/d/1/b1!cM3BF3LphBaywEEVATZyg4Ah40A6RyDkPFdlGP8vyVLw9F-HWPpflYxOuHSMxT2Sp97Mn02b35h9OT7rCUPwQmU1l8O2c8shMbzEwtIPw1UWDRMyHxCu2GYH2ooVRPXrVKHdTIdBHfO4_qQjQxd8VsatTzQ_BK5uF0nbpoyMFmMcgJ99oALE34ix4jr-s6lp0u7fcedkPW_BJHI4JqShcy6K7DeHLUbezDm7EvHnS2vTEKfQYSdOo8gqAdI6ZS3quQ9YF0-56kljZplD8yX6wTDoA7KcNFiswXNZdJDlKLSia1o_6AOC8iMwLe9U4PrD_hpAr0RCz0_c4fA0Thcud8qG8CPnm39-WKjz8JwnMh4mwSvwmmIgVJBNqOTTSwSJPaphPLLdvw07qsaZ-IV8Q0_Vp7kVUS3Sd70Y51pSJt3dmW-eP4scW_74BO_PsenMs7eI4qbV96AoF3InW_nmSI7tvWAakAAdqy260RDA8ykJRloqTmKxsucLiQOG6g59z9rh3b58Q5seGMdFVRXmyAwZaVaVkt0UmU6Whp8iH_Fi0ZvZ3k52pkKfIjlB3sjMbTIC9FVD84VVXtOTLb24XbYanOvMa-QkH940rp6iLRDZHUuDbRT2qay5RuEMXymEGeI4dPZ6rQLy0BWAR00katiBHbp_ICgKzac5opzKh4jqGCRw4wIXBGfe_uLm086-U3navh8yao4jSXe2IUj6iU5NMyjeBCjPwiKD5JAQEsT0BwnZokXadlL4RmugDNf04O2BY4WpG01Vg9yQ70GmpZ-38eLfhH0Bro7YOVPbKp4NCtrWrKWPZavm_LWYDvQJQSh9OHAShDA0utHexaFHf-EEr5nPv5Y9wAPfGRRCFjij1_e_099RMG_GJ0T7t3VVsqy3yDA1GfEsFu3_UwBZdwdnMqSZrMO_AmaCg1mIiK7HksqsiSphb2dXp8hRPuUG2xdSjLFg5_BbpSEdKlczWap_jyeT82wBuIMP3tkTu5wxLLI7fHmL8f50NGaWR_EZ4YG4IRq5E5EcQLNcuUuHeE72drkBkGzvIJ2c0CWXmDSEm0xL_xqY8XWgwkSpTFGCKBVd2Pmde267v8cnGjOVm1IIMyhDC8bJdzMuZOl9tw8JK7f50U_37AJJ2G1qHbM1hPY_CZHGZE5Xfx6yct4FFTzkeWVzJyWG-Ddku6KrxvZFKeY7ZwPNcFb3Ft1iQhf5y7lk2GbQ4fI9NIcifxlrDAAROMHZsb775vBZCpy1SKEGns7_kjWjcppzmcXa_7sFbWE./download),
        url(https://dl.boxcloud.com/d/1/b1!GdKCPHVL6PSBnovNVc2Sah5tg_ROR9Xq9j3LANqlJCcS9giB-5vvhpe3jVwrv8jXUINwm4C4RCYDLqCfAsNUh2yO5mqF2T39jxBzu_RuRk8VSTvy8tcv3tmrI6RoOcPb9hRDIIY_ViWvbNAmquFrbBb3UqQdsDI6oy0_2G2AXy4opff53qQPfBooCJuWnqT3fy-Tp7XJEEz3BeleQwtqtPHehTJOnpDTW_jWm7V6x-XNS1AYQsHaoH-u8U2l6NoFoB0LyEpT8pVI61ObigR8J6lfIy3OKEzvluY9a3DN4wLLCBEdqQrg4r4b-MqWH5aN9LNJ6F8ALyveuU-KYm_q1AVwrfSTSujiQs62JPCAnJmRMk7vhktF6lmSl4bISOWd9Rij_Gx3JY887JDcYEDAMMApa2SWjvUj-wFg4xkXqyCy9NZxdBWwsjE1KmYMPRgAhvmNYrF9irqdarRcNMymr4l59XpRwuhdrDi3efWlq6JFf_xkJhfEDt6vCqa4mteXfSHsHvKYOLAR4JTTuS_TjKDvOyxUAwRdPQ2SRxI1Y55WSqgSLrLN8pZMHIxVQCxluOPcCIrUjb8eJFFL1jOk6Bh7uH-QAaMgd20rOgpYmEe0_kMaUUS1LGg40dPuHKYc_Xt0Zdgcu59wUc8tiLNFefU_6t4QhY-aL0sNGaFjOcUPd-QkETwiXCU269bT_fhR8XpUDoTrAuH2VnWXtrY6X8m2Vpla2QlPyUMSNCRePUGvF38QdFxaSZJ9ORKuFRd3hIjZepLtYtzTadfAuInAdkwgD2mPGEkVXMIC7AsnFD6XTXvs0YEw2OlelqwepStCGfgcMan6o08nYtl7zBEJCUbxj1FoUQtnOLr8ElIAhs-87yn4piUTLzsmMUidZB1FBAzehHu_mR_ZlWgUKbqpEl8XrVPa6kMKDZWMXjsabecRA5wI-Qi1qnuhJF-2hjYGL6g14EU7-WZpK3hgDEQB9fv1fytTU7k2o4s0y0EZmLrW6tMOQITdkOR6EAKYJA-myPIXPEytzPf64ckc0kL6rLie59Ft8sV21dblKGnkjbkSKEagpnVp58QeiEVRpHCrGj8Gb8-ejMw3eM0TCwggrSGxJjYA1q_mHitoAXtsjBu-f0-8kPMMf-4KH-wqYNXSFjPT___1H-0WKDw9ohPkrvTE917fGdtXosIwF24KGap8Wh1r626GDUzr0H__j2qEbRcF-oJxW8Xr-785BmWtYrrDGsmLiuRUZxxpIoYRhw0P477Flz3HK9Ahd3ruF2k7xzMR7NiD/download),
        url(https://dl.boxcloud.com/d/1/b1!wfzZ8Iw1OmEOlcQvM4XL8fg35hZ5IMeVR88PO05tFi-HhwV04BezG7EVSqNbH7pT-oGmSPDkQsNN3OigdhCUgzXOA311EKtSX06Lq-SmZ1hvhWBXfoTeNlGGGKnfHTsxu80s1asQRFCb83UO0MdEvgklwJ7sUmArpYW2iLY4JOuAjd1nwDorsSkxXhrol16zs4bGuoGU7IYmAoeUGTmrARcgJCFxWyBgRgr1go5MqIeTJP0gNe9E8EOTTE7PWGIYU9xc5beV7bHr2sZE-R8wKVfdAy33-mOHvznBIucbOOpvsYmfMlBUNVD8_YIFW5VLQY9qnUb2YdE8LggPsOKxLYnUJPzNj1F_xnxu03Y6h8IZ0phPdnqiCpSnoHfU0WMfJOq4TAL-wWZEGKECZ8mxzDDmpySDkJ5lmBEqPyK2I7kcww3E2R0CR9CSOkcVHob8FRG2GccU-Ek7DJcAUuoITLBEOqg_oPP6HYmknl_sADjze5yV0e478ThyOeEVWO3fuJlAVU_y4eQ1wtmRoij8U-V09umSxjjwUjCEbXu_Py3eboroHgEUk96f1Kk8QdOEekZvOmQnVamGwGyn5LD5NKBN3qkgvJY1ANu6u-7UylQBkYI8BTFXsnMhwlq16cHfAB2A7Z7RsLHZMD__7ZrehRVQCeBD6u2BV7I5FMeOPLvQaA7REJaw5OEeQZ3RdOxtMTnqVPFVVeVVSGtBAVwHWCFLgdcIQ98GTzAEGfL3-LAf3Fh-BP7-E_6Y13Fm7h5JRmm5FJGah1_G24DDSh3ArfG-R5KiVfmrm9vDwRpylR9tkK6lRQD59-3uhf4crMuAHM-DYAY6Mk_Rx_4J0os2ZFdvyU7UpLqk6J6PEObJEPL1jKe3EZCvcQcBE1dqlxAg42qsjAkX1XW0P-AZXPHIPeJoMZ3prTeNFw9R0IRLRxYznGkXoSn9yDeKmM2tZ7JDOdEwWzgoW2egkujsDiY66SeTZM-ydn7EaSlv6c7JpZu5BA2zkxPruEVEK4RSaSfJX_1qb8zbdNRjm8Y-tgiMoPLPSxzrbjNGIp9gNPOUOJlGZ7AqUTgT5omNNdPyqJeg2YXYTgAmKSqu2m8kKA0WPgYkZRe-3k4ZQ-WwtWfpnfweMrcrC4a7ehk2YL6dGkRGUJAmyRHfpxHxkw_3qhkhcENt-JHlG7tZ3VwBXnzbokg3qMHcV0TWnTvSGLtSPJn8HQs8Br4aEo_jS1500tEYNIJ4oVNz9mSWQ_jOHPuXVGL9R1ZfdTfHQgQPjHKp8f39LNVY0y-iBh2qtQ../download);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position-x:
        95%,
        95%,
        95%,
        20%,
        0%;
    background-position-y:
        8%,
        90%,
        5%,
        93%,
        0%;
    background-size:
        85%,
        85%,
        15%,
        20%,
        85%;
}

h1 {
    border-bottom: none;
    font-size: 1.5rem;
    position: absolute;
    text-align: left;
    top: 1%;
    left: 15%;
    color: black;
}

h2 {
    border-bottom: none;
    font-size: 1.0rem;
    position: absolute;
    text-align: left;
    top: 8%;
    left: 15%;
    color: black;
}

p,
ul,
ol {
    border-bottom: none;
    font-size: 1.0rem;
    position: absolute;
    text-align: left;
    top: 20%;
    left: 15%;
    color: black;
}

section.lines {
    border-bottom: none;
    font-size: 1.0rem;
    position: absolute;
    text-align: left;
    top: 20%;
    left: 15%;
    color: black;
}

footer {
    border-bottom: none;
    font-size: 0.4em;
    color: grey;
    position: absolute;
    text-align: right;
    top: 90%;
    left: 63%;
}

section.top {
    background-image:
        url(https://dl.boxcloud.com/d/1/b1!ZM8bYM3bgfjpDFasdeUygsKjzuiX5sBv61RzL8DLgnYPiNBbz4MNMjJnS7JZ3dRGPBKdlYyfoNAiyxAO0OqnLoJt3xcKoEamxtR3lftRKBDuVJBxQ3P0_ZFRLxL9EpzG_S6H0x3X0eF28H3JmP5FTw5CkmgWhzMOZ9nIf71X7etmoTbjuluB-miM5wy_5aHlUtSOtmHhvnPeco5oS0qvvJxUa1KrnAdWJXNsJx2zaaNxxeTNfaA0QwwnwmbVnKEpW5n_Uo9Ox4hU7UvrXjS0fg_i3-61HRkeHi9Aq13sGqSW076r5c9ozZ1hBK-HnfQMWT711CstNTurSposh1u8GYudiA9NkmnAHFp4ieemKj2Xe6pOHGhN00XjJkHNVB6eCBxEl2wX_KElaFI9OldtPcvXJlVea9ID1PzGi7A1GesgL5GfyNbNKZeGIwPinIWK4e0Db08lbgSbYbWWEzlDo0vvxghgUI1HzOjIznTnDtcy-t2hLB6W3ix-IwJwZ-Ak-7GnR3LskuaxAbH9eTQpR27rsN6bDrM2_2XDFf3b_SfyhYkta2uzAaFGB7xT1AARa2jVqe0UpQ46Kt5D9vNbMTA-95N_L_p6sa5mcDlZmVLAN68pGHWzPtAgHLgxjr_Hn-IySuqEBtg2KrbnQ1wmI0fre4JjaJkkClBLXKHqGX1TVT2FqZ1yh6Ul4n2cRtnBEiTnrdjeSTyHH_bAo_SuLX_hfrPn46LrIvTeKazqQbF9BOMMFJar-x-8-5hRDSfUTcYyJm0WF2ETeL7xAXc4q2Y7ge1jVP9Nl_FN_ruRYroWHzsHE5wIrd2nIZP11jcLVVj0qIjKRe3tKNikR7TuaL9bhklfgdvOLJUFwlLVJI_zTSGeSJD0a94B9hWOZQwKpGIUV8S5CZPVpdURLt2PLvTBNdLYQqYvQNFWJQGgMzkRchceqffN_OjOD_fvkPL7FtnQJ2LFj3GwYmaPOEOmX2ettZGOUAFhpIQh-30UIQo0-c0b4UzwRun3EmGS7wnWSn7DHU2XzIINDVg86JYQMSjYqdyWI_VIsh1KcLjs53VTfN1uCE4gIE3uNp76YU9LtPZkvPc-ou5qJxhe0Kd6VsJ3-m5EfbwURnifODxyLj4mSPCnvI4TvYz-ZSsEjsX6Ol4kdlCXjnVz_PHeEh3VJEqSBuxlLpNn2jsrD23rtDsRJHv9SX634jol7gqJO8c9EDhjs7YWLZjWkMvBDj5l9Hg0AOgrU-6RsPWdaeBMF4L_Q3QwCdYrDU9uLZYJ0Wc./download),
        url(https://dl.boxcloud.com/d/1/b1!wKmeATDB0-_JkV-p92jzWIbMAv0znkPk9LyEnSNeMWmM_hhnAdK9Yy_8YQ0rh7goG9U2TZ_zHTzZqK3VE9yIg96bA9D4luhOSJiSttMvv4q3xxFgyDUFNOg3KSZF2wFgmdDhSzl_QryV1Tqgj4nokSg6_Bye9I1QQ4Qy5AxyuNHAEnjI3boi_WDbOXwhcnQZOwuyZYzjVDcClNCbpoyh8NwqN4biy3HchvBWgmPCDXWquz3ACjsBX6RdBMEPSBmQEBqUqloCoMqnKJk-IFyUEfrbtRLE1zLPBfhskO7wSuDiA0oAlb7FLZc18rduoUDk1OvghYopD-scEDJqsU34Ndbb_dSa45kYeFkw26sxHnni1_FzKEqZbnqttJsHhuuEDZDgxWwqMMI2orHxSJzTl50CaPg7fi_SnH10yfRYEmEvL4ODvsGbb-Ab5EO-f--9qNFiZ6ujcM3NVUvxlNDuiGYOqSj4Orz3IrzgbtxKQn5hTZfUOaM2Rh_Pi7QS9a5PUwdbrctCtDUtI7tAdRZ5J09_81-VZ70pRtVtYUuZVTbl8GZcawPEnAHNouAySvSKZ3r_mhVRN2P6BHyzxTJXSjYxC9Lhr239iQhDYwom9fsbgA4QzDDzmcyCFJv0i1VWOzE_MxBwFeRdui2hxqTJ69LaqhqSmeez7hUB7HnpuRhPmvxl0Z12U56_M_HtQGdZB5Om82a3t1x4heRFHA_unZiVP4bP7t-xZqyf9T1VTEtoQBaMEGujjJ7k_x7GuwKOi4SxpRtQGfile4_BeDv60F9CgYZ0kDaI-O1OQ415gZUa9HlcUyTr5TtmZPgiaX3-SL4veWf-pUSAJHcj7f-jFZccTUCi3XAT980nflvNImBRIUcDZ8dGL14BQfctaTFw8UqpJOGvuyaKQS7rzNzr8rYE6KJyWXiBaxxY50sHfmNDy7IlocRH45hcvdnVYLWyq2u06MVQ_kIOqrAEM9UpDKc6btEahrnyLBE46CB7KQdEUPviv2OEx14p4j1giADxZ7BZmDQ_fJY0gd8RS33vvIzZIOU3J_T4kS7wIeQL3RMePQF6_0Z08sx4oudzeH5tRz6wNrrMRCdssPO7G4K0fDmKSPQZo4e9Hl4Xx-8PTDRjS7d5ItpBssIbZgd7zPwM8aHsPkthRu0xayfrkpLqrK7LauAgljUJNiMeFQdonXQSOrf6QkSjHmBFryRCd4VrHgh_MPb-vd_-75kf3XvtZVFjPFk2M37pz-mAMo9A6yLn2KkVRF2DfXko9o1xnzw./download),
        url(https://dl.boxcloud.com/d/1/b1!yfQaFKnkcTi2JnMT04M8VS9Petdj9TFam3yJhIvUg8D-lZr21mRV9KQcz15rQHjlTN-QN56D3p53KcPsjVNrDtrcpirZ6PiLEk3Jg5qmPqniRNnIhveHFp3RDKnVwnjySZUOr0_-ZWvnKGfLmEnJfGUAcZzigmAw7oSqw9-fng8X8biKWUKAEpmd85qd2xEMEtgr97uhwZETWcorhPgcQsr5HrVxLVDzk3xmgTprzU2T23KllxRIBFcLXwU03AnPoFK_uyN9A-LJfnE3QSXBhuCmtTYq1ihqPWFBIYudqc8LEteiAKusroiEpCgxjIkgSC8_RmC8ZhnuNHMAmIhI1A2fWsW4aJ_DBL-oXL-vsPRta6UzVPacacJx8bcFd2fT9EdaSlF6aa728UxZcwnp_JycJtAFYIBSs-PK4Egu5dG7Cb01aT9EzW9htuRNjcoVtSWZQrktm7-g3sgAl_5-CnbXSSpssgpCLRi4i2Dni8il2v_j16AwTL7RdXhEfL4VSYC39JYwBhzVvGB-hVt9eX214zt3V4M6ry9yZNnq4Jn_XUC6GUfMCc9C8G_0IRx1grUBvczm9uCyrzfAGYwYElOp-M9so0PDFvlx5GsKcdgHiD6jRSszyxEG3nl5bFwL1BVSfFLkPDadHIMmYcZpfukmLTGrUoC2FW9m3i-KHdvxOd1julpZOoZC01jjVDDu1A0cF9GrV6VSpTMpEWSJ4WYKmAoLJua645i2u-t1qrYSgg1u_tF9fQDVfitu9QTYr2LLLjC7Cg0r8JeljGIhUz3qUWDxr2qoSxF7M0OT1lD5MJyO8ZmwI7iImahCE48Mkce7H10vy3tFXsT3JBKWnBfVPpNZgdnfHpJOpxu82VFUMS8YPCND7-b31IBs7gE4ULgPkmsikhMkb18dTfkXQS-uCE0d55A4F_CNOnxiF8zGtFkm8I_c-unIlOoADr3aQklnfXlnk83Ct7uqVkkw49Iw0i13a5I7BpoQopMTzL8bTsDft-08eGCi8jYxk5QsazHM3tVaGP-2CJuAsgyF43aJcSrXS39GNTDi-aEnJ9y06fwuMxhIh11BUl4qOZo0F3gqlguc1M-j6qV1Qd8x8v0lxHObSbCvPxHV7KMUsmXKY_uHHfbSNZiDYH1zLX-Z7P-xJiArxg1uZmiRHonpXLgcOyHX8I2c9i8erSpfMT3aqfP2WlXRu_hqx1OQ3q1_jl1jjChLvG7JG38MuzFQCAOltS_8Opi1q7uj1GMDFKQGoKPVIEYyE2LDSzk-x538/download),
        url(https://dl.boxcloud.com/d/1/b1!cM3BF3LphBaywEEVATZyg4Ah40A6RyDkPFdlGP8vyVLw9F-HWPpflYxOuHSMxT2Sp97Mn02b35h9OT7rCUPwQmU1l8O2c8shMbzEwtIPw1UWDRMyHxCu2GYH2ooVRPXrVKHdTIdBHfO4_qQjQxd8VsatTzQ_BK5uF0nbpoyMFmMcgJ99oALE34ix4jr-s6lp0u7fcedkPW_BJHI4JqShcy6K7DeHLUbezDm7EvHnS2vTEKfQYSdOo8gqAdI6ZS3quQ9YF0-56kljZplD8yX6wTDoA7KcNFiswXNZdJDlKLSia1o_6AOC8iMwLe9U4PrD_hpAr0RCz0_c4fA0Thcud8qG8CPnm39-WKjz8JwnMh4mwSvwmmIgVJBNqOTTSwSJPaphPLLdvw07qsaZ-IV8Q0_Vp7kVUS3Sd70Y51pSJt3dmW-eP4scW_74BO_PsenMs7eI4qbV96AoF3InW_nmSI7tvWAakAAdqy260RDA8ykJRloqTmKxsucLiQOG6g59z9rh3b58Q5seGMdFVRXmyAwZaVaVkt0UmU6Whp8iH_Fi0ZvZ3k52pkKfIjlB3sjMbTIC9FVD84VVXtOTLb24XbYanOvMa-QkH940rp6iLRDZHUuDbRT2qay5RuEMXymEGeI4dPZ6rQLy0BWAR00katiBHbp_ICgKzac5opzKh4jqGCRw4wIXBGfe_uLm086-U3navh8yao4jSXe2IUj6iU5NMyjeBCjPwiKD5JAQEsT0BwnZokXadlL4RmugDNf04O2BY4WpG01Vg9yQ70GmpZ-38eLfhH0Bro7YOVPbKp4NCtrWrKWPZavm_LWYDvQJQSh9OHAShDA0utHexaFHf-EEr5nPv5Y9wAPfGRRCFjij1_e_099RMG_GJ0T7t3VVsqy3yDA1GfEsFu3_UwBZdwdnMqSZrMO_AmaCg1mIiK7HksqsiSphb2dXp8hRPuUG2xdSjLFg5_BbpSEdKlczWap_jyeT82wBuIMP3tkTu5wxLLI7fHmL8f50NGaWR_EZ4YG4IRq5E5EcQLNcuUuHeE72drkBkGzvIJ2c0CWXmDSEm0xL_xqY8XWgwkSpTFGCKBVd2Pmde267v8cnGjOVm1IIMyhDC8bJdzMuZOl9tw8JK7f50U_37AJJ2G1qHbM1hPY_CZHGZE5Xfx6yct4FFTzkeWVzJyWG-Ddku6KrxvZFKeY7ZwPNcFb3Ft1iQhf5y7lk2GbQ4fI9NIcifxlrDAAROMHZsb775vBZCpy1SKEGns7_kjWjcppzmcXa_7sFbWE./download),
        url(https://dl.boxcloud.com/d/1/b1!GdKCPHVL6PSBnovNVc2Sah5tg_ROR9Xq9j3LANqlJCcS9giB-5vvhpe3jVwrv8jXUINwm4C4RCYDLqCfAsNUh2yO5mqF2T39jxBzu_RuRk8VSTvy8tcv3tmrI6RoOcPb9hRDIIY_ViWvbNAmquFrbBb3UqQdsDI6oy0_2G2AXy4opff53qQPfBooCJuWnqT3fy-Tp7XJEEz3BeleQwtqtPHehTJOnpDTW_jWm7V6x-XNS1AYQsHaoH-u8U2l6NoFoB0LyEpT8pVI61ObigR8J6lfIy3OKEzvluY9a3DN4wLLCBEdqQrg4r4b-MqWH5aN9LNJ6F8ALyveuU-KYm_q1AVwrfSTSujiQs62JPCAnJmRMk7vhktF6lmSl4bISOWd9Rij_Gx3JY887JDcYEDAMMApa2SWjvUj-wFg4xkXqyCy9NZxdBWwsjE1KmYMPRgAhvmNYrF9irqdarRcNMymr4l59XpRwuhdrDi3efWlq6JFf_xkJhfEDt6vCqa4mteXfSHsHvKYOLAR4JTTuS_TjKDvOyxUAwRdPQ2SRxI1Y55WSqgSLrLN8pZMHIxVQCxluOPcCIrUjb8eJFFL1jOk6Bh7uH-QAaMgd20rOgpYmEe0_kMaUUS1LGg40dPuHKYc_Xt0Zdgcu59wUc8tiLNFefU_6t4QhY-aL0sNGaFjOcUPd-QkETwiXCU269bT_fhR8XpUDoTrAuH2VnWXtrY6X8m2Vpla2QlPyUMSNCRePUGvF38QdFxaSZJ9ORKuFRd3hIjZepLtYtzTadfAuInAdkwgD2mPGEkVXMIC7AsnFD6XTXvs0YEw2OlelqwepStCGfgcMan6o08nYtl7zBEJCUbxj1FoUQtnOLr8ElIAhs-87yn4piUTLzsmMUidZB1FBAzehHu_mR_ZlWgUKbqpEl8XrVPa6kMKDZWMXjsabecRA5wI-Qi1qnuhJF-2hjYGL6g14EU7-WZpK3hgDEQB9fv1fytTU7k2o4s0y0EZmLrW6tMOQITdkOR6EAKYJA-myPIXPEytzPf64ckc0kL6rLie59Ft8sV21dblKGnkjbkSKEagpnVp58QeiEVRpHCrGj8Gb8-ejMw3eM0TCwggrSGxJjYA1q_mHitoAXtsjBu-f0-8kPMMf-4KH-wqYNXSFjPT___1H-0WKDw9ohPkrvTE917fGdtXosIwF24KGap8Wh1r626GDUzr0H__j2qEbRcF-oJxW8Xr-785BmWtYrrDGsmLiuRUZxxpIoYRhw0P477Flz3HK9Ahd3ruF2k7xzMR7NiD/download),
        url(https://dl.boxcloud.com/d/1/b1!IFO5IvKtkx1LnGllOxmZYbFcGLK5s3R_GpXPIJ0bDagEZotvzOedp-nUo0JDh1i6s8DmI9VF2_EF9bnbsOa_Ay-vfFKd7aYCP-dwMSxbREPJemJg6PQ6pVO8XGxLp3ywu6lqX31NwX27TVVVbUk94p3IiP7RIkM0HmOc73P_EPUNLQnz2oeqBCx2IB09TeuK1K9Dp_2VYl4QrmzgvVlHNGzWO7tWD2JOc530pBVSmG-SB0QguNIBMnMD9yTj7NBhOL2nM-23DjRMHa_KqVJvv-3jysCY7yW7NkFcaMz0wsdEZksOnCndb9LGItwGf3zPFKpnGG8-ynAY5JmmMjO_B6J18a-umFSD7cbIE5aFSqG4mEGkVHBOYmj4A12iQH7o2Cj5YROh19irObVGZ_nKq3LvAV-0efH3Y3TOqqIVkVg_jZzy1XkUeoc8Bl0gExs3Qna6hhhIIWZs3xqc2JMPIwbyvLHNCCSfZ85tmVrqGbhcyUEkubOQFPNArYd33OoKvqO76hL0lcqWGRlk1jUmRzlPlaxGL7BmSR40k9lWippH7hsxOV1T4APBke9qHD5WnvC-4apf2HFM8zE0H5t1l_RwmxpvtikPbPw8YNsJ5ORpzGFdzWOwDFh15xu87BfCnzApfxdNKX9G5z8-Bf0F8ZYvdPJa5qAlz79Q7v2AYZWUZB-KrsM_H78X2nrqfN-mCP-F_2DjyrMdyLvOoyg3wNLwJMAsP6VuRQU1bU4zZgU8CvHjVaErvJWKKg5pd2m2el9j8NFpWbJQhqQTWajr9I7TE0ugFniiTZfxkrWsqFo-tXL43p1m-vDRDDUD-odJ_t5qfrN6pCp4tcZDiyb5RpxgrB8mo-udqnEpxgALmIMkHORVA5iHsleQ7RHmG96mlyx2aSgtfJsv3SkhxnfJeKaRyWFKKllD4JDSK3N2YDJMySr43L7pTU7o15_DwxbsQPGd15B2AcfIsc8BkuKWCoSnllYhGkjJXLUDVDo6s4WttspTSBFmFq-39KKCxRe9txnUBzP6YvBwtnNZBXaqBEoqeNKrfKl4KgMHW_Tn40_piVBhRVYfIF7VZNgW-VylVObfMYZhAJYfAejciTJdChon-Y2sDDBi00eb7FEJJWL0CA9yshWGHm4b2cGvaogWQa-Z8XOXQIwdlV7JAHZyn75KwClN_QtkLoo-OGWTaF_p3IyLjIT-pidnSZvKrVv9cXP2s0Ez9_pqCMbXN7J8KZSV38BaOj4u-o0QnocxmYLE9C9RHGOQyaAGy0sFLSfDuquQces./download);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position-x:
        2%,
        95%,
        95%,
        95%,
        20%,
        0%;
    background-position-y:
        2%,
        8%,
        90%,
        5%,
        93%,
        0%;
    background-size:
        12%,
        85%,
        85%,
        15%,
        20%,
        100%;
}

section.top>h1 {
    border-bottom: none;
    font-size: 2.0em;
    position: absolute;
    text-align: left;
    top: 30%;
    left: 15%;
    color: black;
}

section.top>h2 {
    border-bottom: none;
    font-size: 1.5em;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 15%;
    color: black;
}

section.top>p {
    border-bottom: none;
    font-size: 1.0em;
    text-align: right;
    line-height: 1.0rem;
    position: absolute;
    top: 65%;
    left: 50%;
    color: black;
}

section.top::after {
    font-size: 0pt;
}